:root{
    /*Colores*/
    --primary-color: #fff;
    --secundary-color: #FE900F;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    display: grid;
    grid-template-rows: 10% 60% auto auto;
    background-image: url(/assests/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main-container header{
    display: flex;
    justify-content: center;
    align-items: end;
}

.main-container header h1{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
}

.main-container .main-container-song{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.main-container .main-container-song img{
    width: 67%;
    margin-bottom: 32px;
}

.main-container .main-container-song h1{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 0.8rem;
    text-transform: uppercase;
}

.main-container .main-container-song p{
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: 2px;
}


#main-container-progress{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#main-container-progress #progress{
    width: 80%;
    border-radius: 4px;
    display: flex;
    height: 4px;
    background-color: var(--primary-color);
    opacity: 0.5;
    margin-bottom: 10px;
}

#main-container-progress .container-time{
    width: 80%;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}

#main-container-progress .container-time p{
    font-size: 1.4rem;
    color: var(--primary-color);
}

#main-container-progress .container-time .end{
    display: flex;
    justify-content: end;
}


#main-container-controls .container-controls--icons{
	width: 69%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 29px;
}


#main-container-controls{
    width: 100%;
    display: flex;
    align-items: end;
}

#main-container-controls .container-controls--icons span{
    width: 24px;
    height: 24px;
    display: inline-flex;
    margin-right: 24px;
}


#main-container-controls .container-controls--icons .ramdon-icon{
    background-image: url(/assests/shuffle_black_24dp\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#main-container-controls .container-controls--icons .backward-icon{
    background-image: url(/assests/skip_previous_black_24dp.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#main-container-controls .container-controls--icons .play-icon{
    background-image: url(/assests/Vector.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
}

#main-container-controls .container-controls--icons .forward-icon{
    background-image: url(/assests/skip_next_black_24dp.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#main-container-controls .container-controls--icons .repeat-icon{
    background-image: url(/assests/repeat_black_24dp\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 0;
}